.cart {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 45%;
    padding: 20px;
    background: #ffffff;
    border-radius: 30px;
    &.dark-theme {
        background: #111;
        color: #fff
    }
}


@media screen and (max-width: 1024px) {
    .cart {
        width: 100%;
    } 
}