.product-card {



  &-custom {
    .ant-card-body {
      padding: 0
    }
    .ant-card-head {
      background: linear-gradient(to bottom, #6504f9, #6504f9, #c852ff);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    &.ant-card {
      border-radius: 15px;
    }
  
  }
  &_button {
    font-size: 15px;
  }
  &-content-bottom {
    background: linear-gradient(to bottom, #c852ff, #6504f9, #6504f9);
    padding: 15px 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
    }
    &-price {
      font-weight: bold;
      font-size: 17px;
    }
  }
  &-content-container {
    margin: 0 auto;
    padding: 0;
    img {

      width: 100%;
      height: auto;
      box-sizing: border-box;
      object-fit: cover;
      display: block;
      max-height: 230px;
    }
  }
}

.product-card-custom.ant-card {
  min-width: 150px;
  max-width: 250px;
}


@media screen and (max-width: 768px) {
  .product-card-custom.ant-card {
    min-width: 70px;
    max-width: 250px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .product-card-content-container img {
    display: block;
    width: 100%;
    /* min-height: 150px; */
    max-height: 130px;
}
}