.product-card {
  &-custom {
    .ant-card-body {
      padding: 0
    }
    .ant-card-head {
      background: linear-gradient(to bottom, #6504f9, #6504f9, #c852ff)
    }
  }
  &_button {
    font-size: 15px;
  }
  &-content-bottom {
    background: linear-gradient(to bottom, #c852ff, #6504f9, #6504f9);
    padding: 15px 0px;
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
    }
    &-price {
      font-weight: bold;
      font-size: 17px;
    }
  }
  &-content-container {
    margin: 0 auto;
    padding: 0;
    img {
      display: block;
      width: 100%;
      min-height:150px;
      max-height: 230px;
    }
  }
}

.product-card-custom.ant-card {
  min-width: 150px;
  max-width: 250px;
}
