.products-title {

}

.products {
    width: 100%;
    &_title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &-content {
       width: 100%;
    }
    &-cards {
        display: grid;
        grid-gap: 30px;
        row-gap: 50px;
        grid-template-columns: repeat(6, 1fr);
        // min-width: 70%;
        width: 100%;
    }
    &_show-more {
        margin-top: 50px;
        width: 100%;
    }
}