.product-card {
  &-custom {
    .ant-card-body {
      padding: 0
    }
    .ant-card-head {
      background: linear-gradient(to bottom, #6504f9, #6504f9, #c852ff)
    }
  }
  &-content-bottom {
    background: linear-gradient(to bottom, #c852ff, #6504f9, #6504f9);
    &-container {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    &-price {
      font-weight: bold;
      font-size: 18px;
    }
  }
  &-content-container {
    margin: 0 auto;
    padding: 0;
    img {
      display: block;
      width: 100%;
      height:340px;
    }
  }
}

.ant-card {
    min-width: 300px;
}


