.header {
  height: 100px;
  margin-bottom: 50px;
  &-user {
    display: flex;
    gap: 15px
  }
  &-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
  }
  &-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px
  }

  .ant-tabs-tab-active {
    background: white;
    margin: 0;
    border-right: solid #0093ff 2px;
    border-left: solid #0093ff 2px;

  }
  .ant-tabs-tab {
    margin: 0 !important;
    padding: 15px 20px !important;
    font-size: 16px;
    font-weight: 600;
  }
}