.order-card {
    position: fixed;
    top: 150px;
    right: 150px;
    min-width: 700px;
    max-width: 900px;
    padding-bottom: 15px;
    &-container {
        width: 95%;
        margin: 0 auto;
        border-bottom: solid grey 2px;
    }
    &_title {
        margin: 10px 0px;
        color: #000000
    }
    &_discount {
        font-size: 20px;
        color: #000000
    }
    &_price {
        font-size: 20px;
        color: #000000
    }
}