.main-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 75%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px 10px 50px 10px
}

.main-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filters-dropdown-wrapper  {
    .ant-dropdown {
        position: absolute !important;
        top: 50px !important;
        left: 0px !important;
    }
}