body {
  background: lightgray;
}

#root {
  width: 100%;
  min-height: 100vh;
  /* display: flex; 
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; */
}

.ant-input-disabled {
  background: lightgrey !important;
  border: none;
  color: black !important
}

