body {
  background: lightgray;
}

#root {
  display: flex;
  gap: 30px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ant-input-disabled {
  background: lightgrey !important;
  border: none;
  color: black !important
}

