.cart-product {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    padding-right: 20px;
    border: solid lightslategray 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #009ff7, #f700f7);
    img {
        object-fit: cover;
        width: 100%;
        height:100%
    }
    &-image {
        width: 100px;
        height: 150px;
    }
    
}
