.mobile-header {
  position: sticky;
  // position: absolute;
  height: 70px;
  top: 0;
  z-index: 1000;
  &-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
  }
}
